.modale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1.5);
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.2);
    display: none;

}

.show{ display:block;}

